@import url("sections/loader.css");
@import url("sections/home.css");
@import url("sections/about.css");
@import url("sections/projects.css");
@import url("sections/contact.css");
@import url("sections/footer.css");

body {
  font-family: var(--font);
}

:root {
  --font: Cardo, Georgia, serif;
}

@media (max-width: 393px) {

  .home__header {
    height: 10%;
  }

  .home__header__menu {
    display: block;
  }

  .home__header__nav-one {
    display: none;
  }

  .home__header__nav-two {
    display: none;
  }

  .home__title{
    font-size: 2.5rem;
  }

  .about__title {
    font-size: 2.5rem;
    width: 100%;
    line-height: 3rem;
  }

  .about__div {
    width: 15rem;
    height: 30rem;
  }

  .about__content {
    border-radius: 10px 0 0 10px;
    padding: 2rem;
    margin-top: -28rem;
    background-color: white;
    margin-left: 5rem;
    width: 55%;
    border-right: 1px solid black;
  }

  .footer {
    flex-direction: column;
    padding: 2rem 0 1rem 0;
  }
}

/* Media query for screens smaller than 600px (e.g., mobile phones) */
@media (min-width: 394px) and (max-width: 600px) {
  
}

/* Media query for screens between 601px and 1024px (e.g., tablets) */
@media (min-width: 601px) and (max-width: 820px) {

}

/* Media query for screens larger than 1024px (e.g., desktops) */
@media (min-width: 821px) and (max-width: 1200px) {

}

@media (min-width: 1201px) {
}
