.about {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgb(92, 131, 116);
}

.about__title {
  color: black;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  margin: 0rem 0rem 0rem 0rem;
}

.about__img {
  width: 30%;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px 0 0 10px;
  padding: 2rem;
  background-color: rgb(158, 200, 185);
  width: 100%;
  border-right: 1px solid black;
  height: 25rem;
}

.about__content p {
  color: black;
  font-size: .5rem;
  line-height: normal;
  opacity: 0.8;
  font-size: .8rem;
}

.about__content__button {
  border: 1px solid black;
  width: 10rem;
  text-align: center;
  padding: 0.8rem 0rem 0.8rem;
  border-radius: 1rem;
  opacity: 0.8;
  cursor: pointer;
  background-color: rgba(240, 248, 255);
  align-self: flex-end;
  margin: 2rem 6rem 0 0;
}

.about__content__button:hover {
  box-shadow: 0.5px 0.5px 50px #252525;
  color: aliceblue;
  background-color: black;
}

@media only screen and (max-width: 320px) {

  .about {
    display: flex;
    flex-direction: column;
  }

  .about__content {
    display: flex;
    padding: 1rem;
    border-right: 1px solid black;
    width: auto;
  }

  .about__content p {
    color: black;
    font-size: .5rem;
    line-height: normal;
    opacity: 0.8;
    /* font-size: .8rem; */
  }

  .about__img {
    width: auto;
  }

}