.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background-color: rgb(92, 131, 116);
  height: 100vh;
}

.about__img {
  width: 40%;
  height: 60vh;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px 0 0 10px;
  padding: 0rem 2rem 0rem 2rem;
  background-color: rgb(158, 200, 185);
  width: 100%;
  height: 60vh;
}

.about__title {
  font-family: "Russo One", sans-serif;
  color: black;
  font-size: 1.2rem;
  padding-bottom: .8rem;
}

.about__content p {
  font-family: "Russo One", sans-serif;
  color: black;
  font-size: .7rem;
  line-height: normal;
  opacity: 0.8;
}


@media only screen and (max-width: 320px) {

  .about {
    display: flex;
    flex-direction: column;
  }

  .about__content {
    display: flex;
    padding: 1rem;
    border-right: 1px solid black;
    width: auto;
  }

  .about__content p {
    color: black;
    font-size: .5rem;
    line-height: normal;
    opacity: 0.8;
    /* font-size: .8rem; */
  }

  .about__img {
    width: auto;
  }

}

@media (min-width: 321px) and (max-width: 600px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: white;
  }

  .about__img {
    width: auto;
  }

  .about__content {
    width: fit-content;
    height: fit-content;
  }

}

@media (min-width: 601px) and (max-width: 1024px) {
}