.about {
  max-width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  height: fit-content;
  background-color: rgb(92, 131, 116);
}

.about__title {
  color: black;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  margin: 0rem 0rem 0rem 0rem;
}

.about__container {
  height: fit-content;
  padding: 5rem 2rem 5rem 2rem;
  display: flex;
  align-items: center;
}

.about__div {
  width: 30%;
  border: 1px solid black;
  height: 70vh;
  background-image: url("../../assets/close-up-image-programer-working-his-desk-office.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about__content {
  border-radius: 10px 0 0 10px;
  padding: 2rem;
  background-color: rgb(158, 200, 185);
  width: 70%;
  border-right: 1px solid black;
  height: fit-content;
}

.about__content p {
  color: black;
  font-size: 1.05rem;
  line-height: normal;
  opacity: 0.8;
}

.about__content__button {
  border: 1px solid black;
  width: 10rem;
  text-align: center;
  padding: 0.8rem 0rem 0.8rem;
  border-radius: 1rem;
  opacity: 0.8;
  cursor: pointer;
  background-color: rgba(240, 248, 255);
  align-self: flex-end;
  margin: 2rem 6rem 0 0;
}

.about__content__button:hover {
  box-shadow: 0.5px 0.5px 50px #252525;
  color: aliceblue;
  background-color: black;
}
