.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5C8374;
}

.contact__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 5rem 2rem 5rem 2rem;
}

.contact__content h1 {
  font-family: "Russo One", sans-serif;
  color: black;
  font-size: 2rem;
  padding: 0rem 0 2rem 0;
  text-align: center;
}

.contact__content p {
  font-family: "Russo One", sans-serif;
  color: black;
  font-size: 1rem;
  padding: 0rem 0 2rem 0;
  opacity: .8;
}

.form_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 66, 66, 0.5);
  padding: 30px 30px 30px 30px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
  position: relative;
  overflow: hidden;
  height: 30rem;
}

.form_main::before {
  position: absolute;
  content: "";
  width: 23rem;
  height: 32rem;
  background-color: #9EC8B9;
  transform: rotate(45deg);
  left: -180px;
  bottom: 30px;
  z-index: 1;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}

.heading {
  font-size: 3.5rem;
  color: #2e2e2e;
  font-weight: 700;
  margin: 30px 0 30px 0;
  z-index: 2;
}

.inputContainer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.inputIcon {
  position: absolute;
  left: 3px;
  margin-bottom: 50px;
}

.inputField {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #1B4242;
  margin: 10px 0;
  color: black;
  font-size: 1em;
  font-weight: 500;
  box-sizing: border-box;
  padding-left: 50px;
  margin-bottom: 50px;
}

.inputField:focus {
  outline: none;
  border-bottom: 2px solid black;
}

.inputField::placeholder {
  color: rgb(80, 80, 80);
  font-size: 1em;
  font-weight: 500;
}

.form_main a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: black;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 3px;
  background-color: #9EC8B9;
}

.form_main a:hover {
  background: black;
  color: white;
  border-radius: 5px;
}

.form_main a span {
  position: absolute;
  display: block;
}

.form_main a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, black);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.form_main a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #1B4242);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: .375s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.form_main a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #1B4242);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.form_main a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, black);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}


@media only screen and (max-width: 320px) {
  .contact__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 98%;
    padding: 1rem .5rem 1rem .5rem;
  }

  .contact__content p {
    color: black;
    font-size: 1rem;
    padding: 0rem 0 2rem 0;
    opacity: 0.8;
    height: fit-content;
  }

  .form_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
    position: relative;
    overflow: hidden;
    height: 30rem;
    padding: 0px;
  }

  .form_main::before {
    position: absolute;
    content: "";
    width: 18rem;
    height: 20rem;
    background-color: #9EC8B9;
    transform: rotate(45deg);
    left: -150px;
    bottom: 100px;
    z-index: 1;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
  }
}

@media (min-width: 321px) and (max-width: 600px) {
  .form_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
    position: relative;
    overflow: hidden;
    height: 30rem;
    padding: 0px;
  }

  .form_main::before {
    position: absolute;
    content: "";
    width: 18rem;
    height: 20rem;
    background-color: #9EC8B9;
    transform: rotate(45deg);
    left: -150px;
    bottom: 100px;
    z-index: 1;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
  }
}

@media (min-width: 601px) and (max-width: 1024px) {}