.home {
  background-image: url("../../assets/portfolio-images/laptop\ background..png");
  width: auto;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(92, 131, 116, 0.8)
}

.home a {
  text-decoration: none;
  color: black;
}

.home__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3% 2% 2% 2%;
  position: sticky;
  top: 0;
  flex-wrap: wrap;
  background-color: rgb(92, 131, 116, 0.8);
}

.home__header__nav-one {
  display: flex;
  gap: 5%;
}

.home__header__nav-one li {
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.home__header__nav-one li:hover {
  color: aliceblue;
  background-color: black;
}

.logo {
  width: 9rem;
}

.home__header__nav-two {
  display: flex;
  gap: 5%;
  padding-right: 2%;
}

.home__header__nav-two li {
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.home__header__nav-two li:hover {
  color: aliceblue;
  background-color: black;
}

.home__header__menu {
  display: none;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 4px;
}

#bar2 {
  transition-duration: 0.8s;
}

#bar1,
#bar3 {
  width: 70%;
}

#checkbox:checked+.toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:checked+.toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#checkbox:checked+.toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox:checked+.toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox:checked+.toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

.home__content {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3rem;
}

.home__title {
  /* padding: 15rem 0rem 1rem 5rem; */
  font-size: 4rem;
  color: white;
}

.home__description {
  color: white;
  font-size: 1.5rem;
  padding-left: 15rem;
  padding-top: .5rem;
}

.home__menu {
  width: 100%;
  display: none;
}

.home__menu__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
  background-color: rgba(240, 248, 255, 0.5);
}

.home__menu__nav li {
  padding: 3rem 0 0 0;
}

@media only screen and (max-width: 320px) {
  .home {
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
  }

  .home__header {
    height: 10%;
  }

  .home__header__menu {
    display: block;
  }

  .home__header__nav-one {
    display: none;
  }

  .home__header__nav-two {
    display: none;
  }

  .home__title {
    font-size: 2rem;
  }

  .home__description {
    font-size: 1rem;
    padding-left: 0px;
  }
}

@media (min-width: 321px) and (max-width: 600px) {
  .home {
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
  }

  .home__header {
    height: 10%;
  }

  .home__header__menu {
    display: block;
  }

  .home__header__nav-one {
    display: none;
  }

  .home__header__nav-two {
    display: none;
  }

  .home__title {
    margin-top: 30%;
    font-size: 3rem;
  }

  .home__description {
    color: white;
    font-size: 1.5rem;
    padding-left: 5rem;
    padding-top: 0.5rem;
  }

}