.projects {
  display: flex;
  background-color: #1B4242;
  height: 100vh;
}

.project-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 65%;
  height: 100%;
}

.project-item {
  display: flex;
  border: 1px solid #9EC8B9;
  background-color: #1B4242;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease;
}

.project-item:hover {
  transform: scale(1.2);
  transition: transform 1s ease;
}

.left:hover {
  transform: scale(1.2) translateX(31px);
  transition: transform 1s ease;
}

.right:hover {
  transform: scale(1.2) translateX(-31px);
  transition: transform 1s ease;
}

.project-description {
  width: 35%;
  border: 1px solid #ccc;
  background-color: rgb(158, 200, 185);
  padding: 1rem
}

.project-description-content-header {
  display: flex;
  justify-content: space-between;
}

.project-description-content-header p {
  color: black;
  font-family: "Russo One", sans-serif;
}

.project-description #h {
  font-family: "Russo One", sans-serif;
  color: black;
  font-weight: bolder;
  font-size: 1.5rem;
  padding: 1rem 0rem 1rem 0rem;
}

.project-description #p {
  font-family: "Russo One", sans-serif;
  color: black;
  line-height: 1.2rem;
  font-size: .8rem;
}

#imgUrl {
  height: 35%;
  width: 98%;
  padding-top: 1rem;
}

@media only screen and (max-width: 320px) {

  /* Phone styles */
  .projects {
    display: flex;
    flex-direction: column;
    padding: .5rem;
  }

  .project-items {
    width: 100%;
    height: 100%;
  }

  .project-item svg {
    width: 2rem;
    height: 2rem;
  }

  .project-description {
    display: flex;
    flex-direction: column;
    width: auto;
    height: fit-content;
  }

  .project-description-content-header p {
    font-size: .7rem;
  }

  .project-description #h {
    font-size: 1rem;
  }

  .project-description #p {
    line-height: 1.4rem;
    font-size: .8rem;
  }
}

@media (min-width: 321px) and (max-width: 600px) {
  .projects {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .project-items {
    width: auto;
  }

  .project-description {
    width: auto;
    height: auto;
  }

}

@media (min-width: 601px) and (max-width: 1024px) {
  .projects {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .project-items {
    width: auto;
  }

  .project-description {
    width: auto;
    height: auto;
  }
}